html {
  background: #011627;
  background-size: cover;
  font-family: 'SauceCodePro Mono', monospace;
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
}

* {
  font-family: 'SauceCodePro Mono', monospace;
  box-sizing: border-box;
}

* {
  scrollbar-width: 30px;
  scrollbar-color: #011221 transparent;
}

*::-webkit-scrollbar {
  width: 30px;
}

*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #091e31;
}

$skeleton-color: #e0e0e0;
$skeleton-color-secundary: #cfcfcf;

.loading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

@keyframes dots {

  0%,
  100% {
    content: "";
    opacity: 0.5;
  }

  33% {
    content: ".";
    opacity: 1;
  }

  66% {
    content: "..";
    opacity: 1;
  }

  90% {
    content: "...";
    opacity: 0.5;
  }
}

.loading::after {
  content: "";
  animation: dots 500ms linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.skeleton-box {
  display: block;
  width: auto;
  min-width: 32px;
  height: 1.875rem;
  background-color: $skeleton-color;
  border-radius: 4px;
  background-image: linear-gradient(90deg,
      $skeleton-color 8%,
      $skeleton-color-secundary 18%,
      $skeleton-color 33%);
  background-size: 1200px 104px;
  animation: skeleton-box-loading 900ms infinite linear;
  opacity: 0.3;
  margin: 2px;
}

@keyframes skeleton-box-loading {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}