
$margins: (
  "block-large-screen": 1%,
  "block-small-screen": 4%,
  "inline-large-screen": 2%,
  "inline-small-screen": auto,
);

$nav-size: 17.4rem;
$background-midnight:#011627;
$mirage-primary:#1e2d3d;
$mirage-secundary:#1c2b3a;
$font-lynch:#607b96;
$white-full:#fff;
$turquoise :#43D9AD;
$indigo: #4D5BCE;
$tonys-pink: #E99287;
$bg-color: #1e2d3d;
$primary: #607b96;