$nav-size: 15rem;
$background-midnight:#011627;
$mirage-primary:#1e2d3d;
$mirage-secundary:#1c2b3a;
$font-lynch:#607b96;
$white-full:#fff;
$turquoise :#43D9AD;
$indigo: #4D5BCE;
$tonys-pink: #E99287;
